<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VoltBot - Screenshot</title>
    <meta property="og:site_name" content="VoltBot - Screenshot">
    <meta name="author" content="VoltBot">
    <meta name="theme-color" content="#ffb330">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="<%= link %>">
    <meta property="og:description" content="Uploaded on <%= createdAt %>">
    <meta property="og:title" content="<%= name %> (<%= size %>)" />
    <meta property="og:type" content="article">
    <meta property="og:url" content="<%= link %>">
    <meta property="og:locale" content="en_US">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="/medias/css/bootstrap.min.css">
    <link rel="stylesheet" href="/medias/css/mdb.min.css">
    <link rel="stylesheet" href="/medias/css/viewimage.css">
</head>

<body>
    <div class="container my-5 py-5 z-depth-1 motd" style="border-radius: 20px;">
        <section class="text-center px-md-5 mx-md-5">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-12">
                    <h3 id="image-id">
                        <%= name %> (<span class="data">
                                <%= size %>
                            </span>)
                    </h3>
                    <a id="image-link" href="<%= link %>" target="_blank" style="border-radius: 5px;">
                        <img id="image" src="<%= link %>" class="img-fluid" alt="Responsive image"
                            style="border-radius: 5px;">
                    </a>
                    <br><br>
                    <h5>Uploaded on <span class="data">
                            <%= createdAt %>
                        </span>
                    </h5>
                </div>
            </div>
        </section>
    </div>
    <script type="3f27bcd5ca1e5988932fe6e5-text/javascript" src="/medias/js/jquery.min.js"></script>
    <script type="3f27bcd5ca1e5988932fe6e5-text/javascript" src="/medias/js/popper.min.js"></script>
    <script type="3f27bcd5ca1e5988932fe6e5-text/javascript" src="/medias/js/bootstrap.min.js"></script>
    <script type="3f27bcd5ca1e5988932fe6e5-text/javascript" src="/medias/js/mdb.min.js"></script>
</body>

</html>