<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= nameWeb %></title>
    <meta property="og:site_name" content="<%= nameWeb %>">
    <meta name="theme-color" content="<%= color %>">
    <meta property="og:locale" content="<%= language %>">
    <link rel="icon" href="<%= icon %>" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
</head>
<body>
<div>
    <h1><%= error.code %></h1>
    <h2><%= error.status %></h2>
    <div class="credit">
        <a href="https://github.com/FreiikDev/UploadIntegration">
            <img class="circle-icon"
                 src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png">
        </a>
    </div>
</div>
</body>
</html>